#!/bin/ksh
#
# OpenBSD rc.d script for weft. Install as /etc/rc.d/weft, then:
#   rcctl enable weft
#   rcctl start weft
#
# weft is started as ROOT on purpose: after reading its config and certificates
# it chroot(2)s (default /var/empty), drops privileges to the configured user
# (default _weft), and confines itself with pledge(2)/unveil(2). Do NOT set
# daemon_user here -- weft drops privileges itself. Create the user once with:
#   useradd -d /var/empty -s /sbin/nologin -L daemon _weft
#
# To disable the chroot/privdrop and run unprivileged instead, set sandbox=false
# (or chroot="") in weft.toml and add  daemon_user=_weft  below.

daemon="/usr/local/bin/weft"
daemon_flags="-config /etc/weft.toml"

. /etc/rc.d/rc.subr

rc_bg=YES

rc_cmd $1
